venv 
venv/
/venv
.env
/.env
/assets


*.md

*.rar
media/
/media

/*.md

/*.rar
*/__pycache__
*__pycache__
__pycache__/
/__pycache__
__pycache__
deploy.md
deploy copy.md
/*/__pycache__/
/*/*/__pycache__/
/*/*/*/__pycache__/
/config/local_settings.py