{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
{% block title %}
<title>OCRAN NADAFA</title>
{% endblock %}
   <!-- Main Slider -->

		<section class="main-slider" >
			<div class="slider-box">
				<!-- Banner Carousel -->
				<div class="banner-carousel owl-theme owl-carousel" dir="ltr">
					<!-- Slide -->
					<div class="slide">
						<div class="image-layer">
						 <img src="{{slide.photo.url}}"  alt="ocran" /> 
						</div>
						<div class="auto-container">
							<div class="content">
								<h2>{% trans 'OCRAN NADAFA' %} </h2>
								<div class="text"> <h4>{% trans 'ENTREPRISE DE NETTOYAGE PROFESSIONNEL' %} </h4></div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</section>
    
		{% comment %} <section class="main-slider" >
			<div class="slider-box">
				<!-- Banner Carousel -->
				<div class=" ">
					<!-- Slide -->
					<div class="slide">
						<div class="image-layer" >
						 <img src="{{slide.photo.url}}"  alt="" /> 
						</div>
						<div class="auto-container">
							<div class="content">
								<h2>{% trans 'OCRAN NADAFA' %} </h2>
								<div class="text"> <h4>{% trans 'ENTREPRISE DE NETTOYAGE PROFESSIONNEL' %} </h4></div>
								
							</div>
						</div>
					</div>
				</div>	
			</div>
		</section> {% endcomment %}
		<!-- End Banner Section -->
	<!-- Services Section Three -->
	<section class="services-section-three" >
		<div class="auto-container">
			
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h3 style="color:black;">{% trans "OCRAN NADAFA Toujours étincelants !" %}</h3>
				<div class="text" style="color:black;">{% trans 'En faisant appel à' %} <strong>{% trans 'OCRAN NADAFA' %}</strong>{% trans ', vous avez le confort d’une prestation bien faite, réalisée par une equipe qualifié.' %}</div>
			</div>
			
			<div class="row clearfix d-flex justify-content-center">
				{% for service in services %}
				
					<!-- Service Block -->
						<div class="service-block-three style-two col-sm-12 col-md-6 col-lg-3 ">
							<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="image">
					
										<a href="{{service.get_absolute_url}}"><img src="{{service.image.url}}" style="width:278px; height:185px;" alt="" /></a>
									</div>
									<div class="lower-content">
											<a href="{{service.get_absolute_url}}"/><h3 style="color:black;">{{service.name}}</h3></a>
										<div class="text"> </div> <br>
											<a href="{{service.get_absolute_url}}"><p class="read-more">{% trans 'En savoir plus' %}</p></a>
									</div>
							</div>
						</div>
				
				{% endfor %}
		
          	</div>
					<!-- Service Block -->
          
		</div>
	</section>
	<!-- End Services Section -->
		<!-- Fluid Section One -->
    <section class="fluid-section-one style-two">
    	<div class="outer-container clearfix">
        	
			<!--Content Column-->
			<div class="content-column">
				<div class="content-box" >
					 <p style="color: #fff!important;"> {{business.about|safe}} </p>
					<div class="bold-text">
             <br> <a href="{% url 'business:about' %}">{% trans 'En savoir plus' %}</a></div>
				</div>
			</div>
			
			<!--Image Column-->
        	<div class="image-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms" style="background-image: url({{business.about_photo.url}})">
				<div class="inner-column">
					<div class="image">
						<img src="{{business.about_photo.url}}" alt="">
					</div>
          <img src="{{business.about_photo.url}}" class="overlay-link lightbox-image" alt="">
				</div>
            </div>
            <!--End Image Column-->
			
		</div>
	</section>

	<section class="interior-section style-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
					
					<!-- Image Column -->
					<div class="image-column col-lg-4 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img class="img-fluid ml-4 mt-4" src="{{business.about_photo2.url}}"  alt=""  />
							</div>
						</div>
					</div>
					
					<!-- Content Column -->
					<div class="content-column col-lg-8 col-md-12 col-sm-12">
						<div class="inner-column" >
						{{business.about_2|safe}}
              				</div>
							<div class="row clearfix">

						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	
	  <!-- Counter Section -->
    <section class="counter-section style-two">
        <div class="auto-container">
        
          <!-- Fact Counter -->
          <div class="fact-counter">
            <div class="row clearfix">
    
              <!--Column-->
              <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="content">
                    <div class="count-outer count-box">
                      <span class="count-text" data-speed="2500" data-stop="3">{% trans '0' %}</span> {% trans 'Ans' %}
                    </div>
                    <h3 class="counter-title">{% trans 'd&#8216;expérience' %}</h3>
                  </div>
                </div>
              </div>
    
              <!--Column-->
              <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                <div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                  <div class="content">
                    <div class="count-outer count-box alternate">
                      <span class="count-text" data-speed="3000" data-stop="25">{% trans '0' %}</span>{% trans '+' %}
                    </div>
                    <h3 class="counter-title">{% trans 'Services' %}</h3>
                  </div>
                </div>
              </div>
    
              <!--Column-->
              <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                <div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                  <div class="content">
                    <div class="count-outer count-box">
                      <span class="count-text" data-speed="3000" data-stop="200">{% trans '0' %}</span>{% trans '+' %}
                    </div>
                    <h3 class="counter-title">{% trans 'Clients satisfait' %}</h3>
                  </div>
                </div>
              </div>
              
              <!--Column-->
              <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                <div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                  <div class="content">
                    <div class="count-outer count-box">
                      <span class="count-text" data-speed="2500" data-stop="45">{% trans '0' %}</span> 
                    </div>
                    <h3 class="counter-title">{% trans 'Employée' %}</h3>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
          
        </div>
      </section>
      <!-- End Counter Section -->
    
	
	{% include 'snippets/devis_cta.html' %}


{% endblock content %}