{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
{% block title %}
<title>OCRAN NADAFA</title>
{% endblock %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/bureau3.jpg' %})">
    	<div class="auto-container">
        	<h2>{% trans 'Présentation' %}</h2>
            <ul class="page-breadcrumb">
            	<li><a href="/">{% trans 'Accueil' %}</a></li>
                <li>{% trans 'Présentation' %}</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Story Section -->
	<section class="story-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2>{% trans 'OCRAN NADAFA' %}</h2>
						<div class="bold-text">{% trans 'ENTREPRISE DE NETTOYAGE PROFESSIONNEL' %} </div>
						<div class="text">
							<p>{% trans 'Bienvenue et merci d&#8216;avoir visité la meilleure entreprise de nettoyage' %}  <strong> {% trans 'OCRAN NADAFA' %} </strong>. {% trans 'Nous fournissons les meilleurs services de nettoyage et de ménage à Alger et dans toutes les villes limitrophes.' %}</p>
							<p>{% trans 'Notre objectif est « Les services de ménage qui doivent être effectués à temps ». Choisir la bonne entreprise de nettoyage et de ménage pour votre établissement parmi toutes les entreprises de nettoyage à Alger peut être compliqué mais heureusement vous avez fait le bon choix de nous choisir nous. Cependant, les services de nettoyage et de ménage d’' %} <strong> {% trans 'OCRAN NADAFA' %} </strong> 
              {% trans 'spécifique visant à satisfaire toutes vos préoccupations et tous vos besoins de nettoyage.' %}</p>
                                
						</div>
					</div>
				</div>
				<!-- Image Column -->
				<div class="image-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="{% static 'images/background/bureau5.jpg' %}" alt="" style="margin-top:40px;" /> 
                  {% comment %} <img src="{% static 'images/background/floor-cleaning-machine-rentals.jpg' %}" alt="" style="margin-top:20px;"/>
                  <img src="{% static 'images/background/photo035.jpg' %}" alt="" style="margin-top:20px;"/>
                  <img src="{% static 'images/background/copropriéte3.jpg' %}" alt="" style="margin-top:20px;"/>
                  <img src="{% static 'images/background/copropriéte2.jpg' %}" alt="" style="margin-top:20px;"/>   {% endcomment %}
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Story Section -->
<!-- Interior Section -->
<section class="interior-section style-two">
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">
                
                <!-- Image Column -->
                <div class="image-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image">
                            <img src="{% static 'images/portfolio-6.jpg' %}" style =" height:800px; width:600px;"alt="" />
                        </div>
                    </div>
                </div>
                
                <!-- Content Column -->
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h2>{% trans 'Pourquoi choisir' %} <strong>{% trans 'OCRAN NADAFA' %}</strong> </h2>
                        <div class="text">{% trans 'Ocran nadafa offre un service de qualité à un prix concurrentiel. Notre premier but est de vous offrir les meilleurs prix et sûrement un service de qualité supérieure.' %} <br>
                        {% trans 'L’équipe d’Ocran nadafa offre un service professionnel pour les édifices, écoles, centres communautaires et loisirs, site de construction, restaurants, garderie.' %} <br>
                        {% trans 'L’honnêteté, la communication, la motivation et un travail efficace et rapide sont des valeurs qui nous tiennent à cœur afin de s’assurer la satisfaction entière de notre clientèle'%}
                   </div>
                        <div class="row clearfix">
                        
                            <!-- Interior Block -->
                            <div class="interior-block col-lg-4 col-md-4 col-sm-12">
                                <div class="block-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-award-1"></span>
                                    </div>
                                    <h3>{% trans 'Plusieurs année expérience' %}</h3>
                                </div>
                            </div>
                            
                            <!-- Interior Block -->
                            <div class="interior-block col-lg-4 col-md-4 col-sm-12">
                                <div class="block-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-answer"></span>
                                    </div>
                                    <h3>{% trans 'Equipe professionnelle' %}</h3>
                                </div>
                            </div>
                            
                            <!-- Interior Block -->
                            <div class="interior-block col-lg-4 col-md-4 col-sm-12">
                                <div class="block-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-hand"></span>
                                    </div>
                                    <h3>{% trans 'Services de qualité' %}</h3>
                                </div>
                            </div>
                            
                        </div>							
                        <div class="bold-text"><a href="{% url 'business:contact' %}"> {% trans 'Contactez-nous pour plus d&#8216;informations' %}</a></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- End Interior Section --> 
  <!-- Counter Section -->
  <section class="counter-section style-two">
    <div class="auto-container">
    
      <!-- Fact Counter -->
      <div class="fact-counter">
        <div class="row clearfix">

          <!--Column-->
          <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
              <div class="content">
                <div class="count-outer count-box">
                  <span class="count-text" data-speed="2500" data-stop="3">{% trans '0' %}</span> {% trans 'Ans' %}
                </div>
                <h4 class="counter-title">{% trans 'd&#8216;expérience' %}</h4>
              </div>
            </div>
          </div>

          <!--Column-->
          <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
            <div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
              <div class="content">
                <div class="count-outer count-box alternate">
                  <span class="count-text" data-speed="3000" data-stop="25">{% trans '0' %}</span>{% trans '+' %}
                </div>
                <h4 class="counter-title">{% trans 'Services' %}</h4>
              </div>
            </div>
          </div>

          <!--Column-->
          <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
            <div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
              <div class="content">
                <div class="count-outer count-box">
                  <span class="count-text" data-speed="3000" data-stop="200">{% trans '0' %}</span>{% trans '+' %}
                </div>
                <h4 class="counter-title">{% trans 'Clients satisfait' %}</h4>
              </div>
            </div>
          </div>
          
          <!--Column-->
          <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
            <div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
              <div class="content">
                <div class="count-outer count-box">
                  <span class="count-text" data-speed="2500" data-stop="45">{% trans '0' %}</span> 
                </div>
                <h4 class="counter-title">{% trans 'Employée' %}</h4>
              </div>
            </div>
          </div>

        </div>
      </div>
      
    </div>
  </section>
  <!-- End Counter Section -->
	<!-- Mission Section -->
    <section class="mission-section style-two">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-xl-3 col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
                            <img src="{% static 'images/background/photo035.jpg' %}" alt="" style="margin-top:90px; height:400px"/>
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-xl-9 col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2> {% trans "OCRAN NADAFA" %}</h2>
						<div class="bold-text">{% trans " OCRAN NADAFA Toujours étincelants !" %} </div>  <br> 
						<div class="text"><p> 
                            {% trans "Faites nettoyer votre maison grâce à nos services de nettoyage de maison exceptionnels. Nous avons une équipe de femmes de ménage et d’agents de nettoyage professionnelles mais amicales qui sont " %} 
                            {% trans "les meilleures pour aller au-delà des autres services de nettoyage de maison à Alger."%} <br> <br> 
                             {% trans "Nous, l'entreprise de nettoyage " %} <strong> {% trans "OCRAN NADAFA " %}</strong>, {% trans "offrons une efficacité avec une touche personnelle, vous simplifiant la vie tout en garantissant que votre maison reste d'une propreté étincelante. " %} <br> <br> 
                            {% trans " Notre expertise concerne les services de nettoyage résidentiels, commerciaux, bureaux, écoles, crèches…bref tout centimètre qui a besoin d’être nettoyer. " %} <br> <br>  
                            {% trans "Qu'il s'agisse d'une petite maison ou d'un grand bureau, nous avons les ressources pour répondre à vos attentes avec la meilleure qualité et le souci du détail." %}
                        </p> </div>
						{% comment %} <h3>{% trans "OCRAN NADAFA" %} </strong> {% trans "fournis les meilleurs services de nettoyage pour le nettoyage en profondeur tels que :" %}</h3>
						<div class="row clearfix">
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-two">
									<li>{% trans "-  Nettoyage à la vapeur." %}</li>
									<li>{% trans "-  Nettoyage post/après construction." %}</li>
									<li>{% trans "-  Nettoyage de bureau/commercial." %}</li>
                  <li>{% trans "-  Polissage et cristallisation de marbre/pierre." %} </li>
								</ul>
							</div>
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-two">
									<li>{% trans "-  Nettoyage de joints de carrelage/sol." %}</li>
									<li>{% trans "-  Nettoyage sous pression." %}</li>
									<li>{% trans "-  Peinture maison/mur." %}</li>
									<li>{% trans "-  Le nettoyage des vitres." %}</li>

								</ul>
							</div>
						</div> {% endcomment %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Mission Section -->
    	<!-- Call To Action Section -->
	<section class="call-to-action-section" style="background-image: url({% static 'images/R.jfif' %}); ">
		<div class="auto-container">
			<h2>{% trans 'OCRAN NADAFA Toujours étincelants !' %}</h2>
			<div class="text">{% trans 'Services de nettoyage résidentiel et commercial.' %} <br> {% trans 'Nos' %} <a href="{% url 'business:service' %}" style="color:#fff; font-weight:bold;"> {% trans 'services' %}</a>{% trans ' en details.' %}</div>	<div class="row clearfix">
        <div class="column col-lg-6 col-md-6 col-sm-12">
          <ul class="list-style-two"  >
            <li ><a href="{% url 'business:maison' %}"  style="color:#fff;">{% trans '&multimap; Maison ou appartement' %}</a></li>
            <li > <a href="{% url 'business:office' %}" style="color:#fff;">{% trans '&multimap; Bureaux et locaux' %} </a></li>
          </ul>
        </div>
        <div class="column col-lg-6 col-md-6 col-sm-12">
          <ul class="list-style-two">
            <li ><a href="{% url 'business:cop' %}" style="color:#fff;">{% trans '&multimap; Secteur Copropriété' %}</li>
            <li><a href="{% url 'business:des' %}" style="color:#fff;">{% trans '&multimap; Désinfection d’espaces du virus COVID-19' %}</li>
            <li><a href="{% url 'business:rem' %}" style="color:#fff;">{% trans '&multimap; Remise en état de chantier après fin de travaux' %}</a></li>
          

          </ul>
        </div>
      </div> 
			<a href="{% url 'business:contact' %}" class="theme-btn btn-style-two"><span class="txt">{% trans 'Contactez-nous' %}</span></a>
		</div>
	</section>
	<!-- End Call To Action Section -->
	

{% endblock content %}