{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
{% block title %}
<title>OCRAN NADAFA</title>
{% endblock %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/bureau3.jpg' %})">
    	<div class="auto-container">
        	<h2>{% trans 'Présentation' %}</h2>
            <ul class="page-breadcrumb">
            	<li><a href="/">{% trans 'Accueil' %}</a></li>
                <li>{% trans 'Présentation' %}</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Story Section -->
	<section class="story-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2>{% trans 'OCRAN NADAFA' %}</h2>
						<div class="bold-text">{% trans 'ENTREPRISE DE NETTOYAGE PROFESSIONNEL' %} </div>
						<div class="text">
							<p>{% trans 'Bienvenue et merci de visiter la meilleure société de nettoyage' %} <strong> {% trans 'OCRAN NADAFA' %} </strong>.
                {% trans 'Nous proposons les meilleurs services de nettoyage et de ménage à Alger et dans toutes les villes avoisinantes.' %}</p>
							<p> {% trans "Notre objectif est de fournir des services d'entretien ménager ponctuels. Choisir la bonne entreprise de nettoyage et de ménage pour votre établissement parmi toutes les entreprises de nettoyage à Alger peut être compliqué mais heureusement vous avez fait le bon choix de nous faire confiance. Toutefois, les services de nettoyage et de ménage d'" %} <strong> {% trans 'OCRAN NADAFA' %} </strong> 
                {% trans "peuvent adapter un plan de site spécifique pour répondre à toutes vos préoccupations et besoins de nettoyage." %}
              </p>
                          </div>
					</div>
				</div>
				<!-- Image Column -->
				<div class="image-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="{% static 'images/background/6.jpeg' %}" alt="" style="margin-top:40px;" /> 
              
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Story Section -->
	<!-- Interior Section -->
	<section class="interior-section style-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
					
					<!-- Image Column -->
					<div class="image-column col-lg-4 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img class="img-fluid ml-4 mt-4" src="{% static 'images/portfolio-6.jpg' %}"  alt="" />
							</div>
						</div>
					</div>
					
					<!-- Content Column -->
					<div class="content-column col-lg-8 col-md-12 col-sm-12">
						<div class="inner-column">
							<h2>{% trans 'Pourquoi choisir' %} <strong>{% trans 'OCRAN NADAFA' %}</strong> </h2> 
							<div class="text">{% trans 'Nous offrons des services de nettoyage résidentiel et professionnels. Nos membres d’équipe sont des spécialistes et bien formés a fin de vous offrir un excellent service d’entretien ménager pour chaque endroit de votre immeuble, maison, bureau, crèche ou école privée, restaurant, façade en verre ou en allucobond, hôpital  etc.. ' %} <br>
								<br> 
								{% trans "Peu importe votre secteur d’activité, notre équipe est en mesure d’intervenir efficacement pour vous assurer un service d’entretien ménager à la hauteur de vos attentes." %} <br> <br>
							{% trans "	OCRAN NADAFA offre un service de qualité à un prix concurrentiel. Notre premier but est de vous offrir les meilleurs prix et sûrement un service de qualité supérieure." %}
								<br> <br>
								{% trans 'L’équipe d’ocran nadafa offre un service professionnel pour les édifices, écoles, centres communautaires et loisirs, site de construction, restaurants, garderie. ' %} <br> <br>
                {% trans 'L’honnêteté, la communication, la motivation et un travail efficace et rapide sont des valeurs qui nous tiennent à cœur afin de s’assurer la satisfaction entière de notre clientèle.' %}
              </div>
							<div class="row clearfix">
{% comment %} 							
								<div class="interior-block col-lg-4 col-md-4 col-sm-12">
									<div class="block-inner">
										<div class="icon-box">
											<span class="icon flaticon-award-1"></span>
										</div>
										<h3>{% trans 'Plusieurs années expérience' %}</h3>
									</div>
								</div>
								
								<div class="interior-block col-lg-4 col-md-4 col-sm-12">
									<div class="block-inner">
										<div class="icon-box">
											<span class="icon flaticon-answer"></span>
										</div>
										<h3>{% trans 'Equipe professionnelle' %}</h3>
									</div>
								</div>
								
								<div class="interior-block col-lg-4 col-md-4 col-sm-12">
									<div class="block-inner">
										<div class="icon-box">
											<span class="icon flaticon-hand"></span>
										</div>
										<h3>{% trans 'Services de qualité' %}</h3>
									</div>
								</div>
								
							</div>							
							<div class="bold-text"><a href="{% url 'business:contact' %}"> {% trans 'Contactez-nous pour plus d&#8216;informations' %}</a></div> {% endcomment %}
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
<!-- End Interior Section --> 
  <!-- Counter Section -->
  <section class="counter-section style-two">
    <div class="auto-container">
    
      <!-- Fact Counter -->
      <div class="fact-counter">
        <div class="row clearfix">

          <!--Column-->
          <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
              <div class="content">
                <div class="count-outer count-box">
                  <span class="count-text" data-speed="2500" data-stop="3">{% trans '0' %}</span> {% trans 'Ans' %}
                </div>
                <h4 class="counter-title">{% trans 'd&#8216;expérience' %}</h4>
              </div>
            </div>
          </div>

          <!--Column-->
          <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
            <div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
              <div class="content">
                <div class="count-outer count-box alternate">
                  <span class="count-text" data-speed="3000" data-stop="25">{% trans '0' %}</span>{% trans '+' %}
                </div>
                <h4 class="counter-title">{% trans 'Services' %}</h4>
              </div>
            </div>
          </div>

          <!--Column-->
          <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
            <div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
              <div class="content">
                <div class="count-outer count-box">
                  <span class="count-text" data-speed="3000" data-stop="200">{% trans '0' %}</span>{% trans '+' %}
                </div>
                <h4 class="counter-title">{% trans 'Clients satisfait' %}</h4>
              </div>
            </div>
          </div>
          
          <!--Column-->
          <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
            <div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
              <div class="content">
                <div class="count-outer count-box">
                  <span class="count-text" data-speed="2500" data-stop="45">{% trans '0' %}</span> 
                </div>
                <h4 class="counter-title">{% trans 'Employée' %}</h4>
              </div>
            </div>
          </div>

        </div>
      </div>
      
    </div>
  </section>
  <!-- End Counter Section -->
	<!-- Mission Section -->
    <section class="mission-section" >
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-xl-3 col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image mt-3">
                            <img src="{% static 'images/background/photo035.jpg' %}" alt="ocran nettoyage" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-xl-9 col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2> {% trans "OCRAN NADAFA Toujours étincelants " %}</h2>
						{% comment %} <div class="bold-text">{% trans " OCRAN NADAFA Toujours étincelants !" %} </div>   {% endcomment %}
						<div class="text mt-4"><p> 
                            {% trans "Faites le ménage chez vous avec nos services de ménage exceptionnels. Nous avons une équipe de femmes de ménage et d’agents de nettoyage professionnelles mais amicales qui sont les meilleures pour aller au-delà des autres services de nettoyage à Alger. Nous, la société de nettoyage " %} <strong> {% trans "OCRAN NADAFA " %}</strong> {% trans "offrons une efficacité avec une touche personnelle, simplifiant votre vie tout en assurant que votre bien reste d'une propreté pétillante." %} 
         
                              <br> <br> 
                            {% trans " Notre expertise porte sur les services de nettoyage résidentiel, les commerces, les bureaux, les écoles, les garderies, fin de chantier... bref, tout centimètre qui doit être nettoyé.  " %} <br> <br>  
                            {% trans "Qu'il s'agisse d'une petite maison ou d'un grand bureau, nous avons les ressources pour répondre à vos attentes avec le meilleur matériel et le souci du détail." %}
                        </p> </div>
						{% comment %} <h3>{% trans "OCRAN NADAFA" %} </strong> {% trans "fournis les meilleurs services de nettoyage pour le nettoyage en profondeur tels que :" %}</h3>
						<div class="row clearfix">
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-two">
									<li>{% trans "-  Nettoyage à la vapeur." %}</li>
									<li>{% trans "-  Nettoyage post/après construction." %}</li>
									<li>{% trans "-  Nettoyage de bureau/commercial." %}</li>
                  <li>{% trans "-  Polissage et cristallisation de marbre/pierre." %} </li>
								</ul>
							</div>
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="list-style-two">
									<li>{% trans "-  Nettoyage de joints de carrelage/sol." %}</li>
									<li>{% trans "-  Nettoyage sous pression." %}</li>
									<li>{% trans "-  Peinture maison/mur." %}</li>
									<li>{% trans "-  Le nettoyage des vitres." %}</li>

								</ul>
							</div>
						</div> {% endcomment %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% include 'snippets/devis_cta.html' %}
	

{% endblock content %}