{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
{% block title %}
<title>OCRAN NADAFA</title>
{% endblock %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/contact.jpg' %})">
    	<div class="auto-container">
        	<h2>{% trans 'Services' %}</h2>
            <ul class="page-breadcrumb">
            	<li><a href="/">{% trans 'Accueil' %}</a></li>
                <li>{% trans 'Services' %}</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
		<!--Sidebar Page Container-->
     <!-- Services Section Three -->
	<section class="services-section-three" >
		<div class="auto-container">
			
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h3>{% trans 'OCRAN NADAFA Toujours étincelants !' %}</h3>
				<div class="text">{% trans 'En faisant appel à' %} <strong>{% trans 'OCRAN NADAFA' %}</strong>{% trans ', vous avez le confort d’une prestation bien faite, réalisée par une equipe qualifié.' %}</div>
			</div>
			
			<div class="row clearfix">
				{% for service in services %}
				
					<!-- Service Block -->
						<div class="service-block-three style-two col-lg-3 col-md-6 col-sm-12">
							<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="image">
									<a href="{{service.get_absolute_url}}">
										<img src="{{service.image.url}}" style="width:278px; height:185px;" alt="" /></a>
									</div>
									<div class="lower-content">
											<a href="{{service.get_absolute_url}}"><h3  style="color:black;">{{service.name}}</h3></a>
										<div class="text"> </div> <br>
									<a href="{{service.get_absolute_url}}">
										<p class="read-more">{% trans 'En savoir plus' %}</p>	</a>
									</div>
							</div>
						</div>
				
				{% endfor %}
		
          	</div>
          
        </div>
	
	</section>
	<!-- End Services Section -->
        

    </div>  
	{% include 'snippets/devis_cta.html' %}

{% endblock content %}