{% load static %}
{% load i18n %}

	<!--Main Footer-->
  <footer class="main-footer">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href=""><img src="{{business.logo_negatif.url}}" alt="" /></a>
                                    </div>
                                    <div class="text" style="text-align: center"><strong>{{business.title}}</strong></div>
										
									</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                	<h2>{% trans "Liens utiles" %} </h2>
									<div class="widget-content">
										<ul class="list">
                                        	<li><a href="{% url 'business:about' %}">{% trans "PRÉSENTATION" %}</a></li>
                                            <li><a href="{% url 'business:service' %}">{% trans "SERVICES" %}</a></li>
                                            <li><a href="{% url 'business:quote' %}">{% trans "DEVIS" %}</a></li>
                                            <li><a href="{% url 'business:recruiting' %}">{% trans "RECRUTEMENT" %}</a></li>
                                            <li><a href="{% url 'business:contact' %}">{% trans "CONTACT" %}</a></li>
                                        </ul>
                                    </div>
								</div>
							</div>
						
						</div>
					</div>
					
					<!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        <!--Footer Column-->
						<div class="footer-column col-lg-5 col-md-6 col-sm-12">
							<div class="footer-widget contact-widget">
								<h2>{% trans "Contact" %} </h2>
								<div class="widget-content">
									<span class="fa fa-phone"> <a dir="ltr" href="tel:23804261" class="contact-number">{{business.phone}}</span></a>
									<span class="fa fa-phone"> <a dir="ltr" href="tel:698092844" class="contact-number">{{business.phone2}}</span></a>
									
									<ul>
										<li ><i class="fa fa-map-marker" aria-hidden="true"></i> {{business.adress}} </li>
										<li > <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:{{business.email}}" > {{business.email}} </li>
									</ul>
								</div>
							</div>
						</div>
						
                            <!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget contact-widget">
									<h2>{% trans "réseau sociaux " %}</h2>
									
										<ul class="social-icons">
											<li><a href="https://wa.me/213698092844"><span class="fab fa-whatsapp">  {{business.phone2}}</span></a></li>
											<li><a href="https://viber.me/213698092844"><span class="fab fa-viber">  {{business.phone2}} </span></a></li>
											<li><a href="{{business.facebook}}"><span class="fab fa-facebook-f"> OCRAN-Nadafa </span></a></li>
											<li><a href="{{business.insta}}"><span class="fab fa-instagram"> ocran_nadafa </span></a></li>
										
										</ul>
								
								</div>
							</div>
							
							
						
						</div>
					</div>
					
				</div>
			</div>
			
			<!--Footer Bottom-->
            <div class="footer-bottom clearfix">
                <div class="pull-center">
                    <div class="copyright"><a href="https://www.octopus-consulting.com/" target="_blank"> Octopus-consulting</a></div>
                </div>
                
            </div>
			
		</div>
	</footer>

</body>